.txt-center{text-align: center;}
.txt-left{text-align: left;}
.txt-right{text-align: right;}
.txt-bold{font-weight: bold;}
//.fund-heading{margin: 25px 0px;}
.clear-all{clear: both;}
#loginbox {
  a, a:visited, a:hover, a:focus {
    color: #2a6496;
    text-decoration: underline;
    background-color: #fff;
  }
}
.new-user-cont{
  text-align: right;
}